/* body {
    padding: 1vw;
} */

textarea {
  resize: none;
}

#turtle_wrapper, #code_wrapper, #settings_wrapper {
    text-align: center;
}

.settings_list {
    text-align: left;
    margin-left: 3em !important;
}

#turtle {
    width: 30vw;
    height: 30vw;
    display: inline-block;
}

canvas {
    border: 1px solid black;
}

.float_input {
    float: right;
}

#code {
    width: 90%;
    height: 50vh;
}